<component name="libraryTable">
  <library name="springmvc1">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.transaction-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.jms-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.asm-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/mysql-connector-java-5.1.8-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/javassist-3.12.0.GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/aspectjweaver.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.orm-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/ejb3-persistence.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.aspects-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.jdbc-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.aop-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.expression-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/jstl-1.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.context-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/slf4j-api-1.7.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/aspectjrt.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/slf4j-api-1.6.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.context.support-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.core-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/antlr-2.7.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/cglib-2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.web-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/mybatis-spring-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/hibernate3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.beans-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/slf4j-log4j12-1.7.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/commons-collections-3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/log4j-1.2.16.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.oxm-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/dom4j-1.6.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/hibernate-jpa-2.0-api-1.0.1.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/org.springframework.web.servlet-3.1.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/jta-1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/mybatis-3.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../bookshop/WebRoot/WEB-INF/lib/springmvc/standard-1.1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>